.host {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pannable {
    cursor: grab;
}

.pannable:active {
    cursor: grabbing;
}


.stage {
   /* position: absolute;*/
    left: 0;
    top: 0;
    transform-origin: top left;
    z-index: 1;
}