@import url('https://fonts.cdnfonts.com/css/minecraftia');

body {
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    background-color: #979797;
    color: #fff;
    font-family: 'Minecraftia', sans-serif;
}
